<html>
	<head>
<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid">
			<form action="/create" method="POST" enctype="multipart/form-data">
			<table>
			
			<tr><td colspan="2" style="height:10px"></td></tr>
			<tr><td colspan="2" class="table-info"><b>Basic Information: </b></td></tr>
			<tr><td>Name:</td> <td><input name="name" value=""></td></tr> 
			<tr><td>Borough:</td><td><input name="borough" value=""></td></tr> 
			<tr><td>cuisine: </td><td><input name="cuisine" value=""></td></tr> 
			<tr><td>Photo: </td><td><input type="file" name="filetoupload"></td></tr> 
			<tr><td>Photo mimetype: </td><td><input name="mimetype" value=""></td></tr>
			
			<tr><td colspan="2" style="height:10px" ></td></tr> 
			<tr><td colspan="2" class="table-info"><b>Address: </b></td></tr>
			<tr><td>Street: </td><td><input name="street" value=""></td></tr> 
			<tr><td>building: </td><td><input name="building" value=""></td></tr> 
			<tr><td>zipcode: </td><td><input name="zipcode" value=""></td></tr> 
			<tr><td>coord: </td><td><input name="coordx" value="" placeholder="coordinate x"><input name="coordy" value="" placeholder="coordinate y" ></td></tr> 			
			<tr><td colspan="2" style="height:10px" ></td></tr>
			<tr><td colspan="2" class="table-info"><b>Grades:</b></td></tr>
			<tr><td>User: </td><td><input name="user" class="form-control" value="<%= user %>" disabled></td></tr> 
			<tr><td>Score: </td><td><input name="score" value="" type="number" min="1" max="10" placeholder="1-10"></td></tr> 
			<tr><td>Owner: </td><td><input name="owner" class="form-control" value="<%= user %>" disabled></td></tr>  
			</table>
			<input type="submit" class="btn btn-primary" value="create" style="margin-top:10px">
			</form>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
	</body>
</html>
